@font-face {
    font-family: handwriting;
    src: url(../assets/ChopinScript.ttf);
}
@font-face {
    font-family: sifonn;
    src: url(../assets/Sifonn.otf);
}
@font-face {
    font-family: amstelvar;
    src: url(../assets/Amstelvar.ttf);
}
@font-face {
    font-family: analogist;
    src: url(../assets/Analogist.ttf);
}

html {
    scroll-behavior: smooth;
}
body {
    overflow-y: hidden;
}

/* HTML: <div class="loader"></div> */
.loading {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side,#ED303C 94%,#0000),
      radial-gradient(farthest-side,#3B8183 94%,#0000),
      radial-gradient(farthest-side,#FAD089 94%,#0000),
      radial-gradient(farthest-side,#FF9C5B 94%,#0000),
      #ED303C;
    background-size: 105% 105%;
    background-repeat: no-repeat;
    animation: l5 2s infinite; 
}

@keyframes l5 {
  0%  {background-position: 50% -60px,-50px 50%, 50% calc(100% + 50px),calc(100% + 50px) 50%}
  20%,
  25% {background-position: 50% -60px,-60px 50%, 50% calc(100% + 50px),50% 50%}
  45%,
  50% {background-position: 50% -60px,-60px 50%, 50% 50%              ,50% 50%}
  75%,
  75% {background-position: 50% -60px, 50%  50%, 50% 50%              ,50% 50%}
  95%,
  100%{background-position: 50%  50% , 50%  50%, 50% 50%              ,50% 50%}
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000ad;
    z-index: 3;
    overflow-y: auto;
}
.sambutan {
    position: absolute; 
    left: 50%;
    /* top: 5vh; */
}
#imgsambutan {
    position: relative;
    left: -50%;
    height: 90vh;
    width: auto;
}
.btn-buka {
    position: absolute;
    /* bottom: 10%; */
    /* width: 60%; */
    left: -50%;
    /* font-size: 16px; */
    --bs-btn-color: #fff;
    --bs-btn-bg: #c39117;
    --bs-btn-border-color: #c39117;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #a1760e;
    --bs-btn-hover-border-color: #a1760e;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a1760e;
    --bs-btn-active-border-color: #a1760e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c39117;
    --bs-btn-disabled-border-color: #c39117;
}
.kepada {
    position: absolute;
    width: 100%;
    bottom: 26.9%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    left: -50%;
    font-family: 'Merriweather';
}

.section {
    max-width:100%;
    position: relative;
}

.images {
    max-width: 100%;
}

#section1 a {
    text-decoration: none;
}
#section1 #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#d, #h, #m, #s {
    font-weight: bold;
}

#section1 {
    background-color: #000000a1;
    text-align: center;
}

#img1h {
    margin: 0 auto;
    height: 55%;
    max-width: 90%;
}

#img1v {
    margin: 0 auto;
    /* padding-top: 10%; */
    width: 75%;
}

#tanggal {
    font-family: 'Analogist';
    color: #c7a362;
}

#countdown {
    /* ont-family: 'Major Mono Display', monospace; */
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0 auto;
}

#countdown td {
    padding: 0 1.3rem;
}

#countdown .rb{
    border-right: 1.4px solid white;
}

#section2 {
    position: relative;
    background-color: #000000a1;
}

.img2 {
    width: 100vw;
}

.btn-cp {
    font-size: 1.4vw;
    --bs-btn-color: #c89d35;
    --bs-btn-border-color: #c89d35;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c89d35;
    --bs-btn-hover-border-color: #c89d35;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c89d35;
    --bs-btn-active-border-color: #c89d35;
    --bs-btn-active-shadow: inset 0 3px 5px white
    --bs-btn-disabled-color: #1e274b;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #c89d35;
    --bs-gradient: none;
}

.btn-cp svg{
    margin-top: -7px;
    margin-right: 10px;
}

#ig-des {
    position: absolute;
    bottom: 20%;
    left: 13%;
}

#ig-al {
    position: absolute;
    bottom: 20%;
    right: 9%;
}

#section3 {
    border-top: 3px solid #FFD040;
    border-bottom: 3px solid #FFD040;
}

#section4 {
    width: 100vw;
}

.btnmap {
    width: 22%;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    left: 39%;
}

#section4 #blackbg {
    /* background-color: #0000008c; */
    background-image: url("../assets/sdot-01.png");
    background-repeat: repeat;
    background-size: 4px 4px;
}

#section4 .bg-white {
    background-color: #ffffffba !important;
}

.cardsc4 {
    padding: 5rem 0;
}

.kontensec4 {
    padding-top: 0.3rem !important;
}

.btn-rsvp {
    background-color: #c7a362;
}

.btn-rsvp:hover {
    background-color:#dbb97b;
}

.imgkado {
    height: 40px;
}

.detailkado.k1, .detailkado.k2 {
    margin-top: 3px;    
}

.detailkado.k3 {
    margin-top: 1.5rem;
}

.namakado {
    font-size: 14px;
    margin-top: -4px;
}

.btn-copy {
    font-size: 0.8rem;
    padding: 1px 3px;
    margin-top: -7px;
}

.kodekado {
    margin-top: 3px;
}

.kodekado span {
    font-size: 17px;
    font-weight: bold;
    margin-top: 12px;
}

.doadoa {
    background: #ffffffd6;
    border: 1px solid #c7a362;
}

.ucapan {
    position: relative;
}

.ucapan h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.ucapan p {
    font-size: 1rem;
    margin-bottom: 0.1rem;
    font-style: italic;
}


.ucapan.bb p:before {
    content: "";
    position: absolute;
    left: 15%;
    bottom: 0;
    height: 1px;
    width: 70%;
    border-bottom: 1px solid #9b9b9b;
  }

.vertical-scrollable { 
    overflow-y: auto; 
    /* white-space: nowrap;  */
    max-height: 30vh;
}

#section5 {
    width: 100vw;
}

.sec5part {
    position: relative;
    max-width: 100vw;
    min-height: 15rem;
    background-color: #e2decb;
}

#igfilter {
    background-color: #b5974b;
}

#imgigfilter {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 36%;
}

#imgwtdinsolo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 53%;
}

#descigfilter {
    text-align: right;
    width: 60%;
    position: absolute;
    right: 4%;
    top: 17%;
}

#descigfilter p {
    font-family: 'Merriweather';
    font-size: 2.3vw;
    line-height: 2.8vw;
    color: #1e274b;;
}

#descigfilter .btn {
    font-size: 24px;
    --bs-btn-color: #1e274b;
    --bs-btn-border-color: #1e274b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1e274b;
    --bs-btn-hover-border-color: #1e274b;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #1e274b;
    --bs-btn-active-border-color: #1e274b;
    --bs-btn-active-shadow: inset 0 3px 5px white
    --bs-btn-disabled-color: #1e274b;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #1e274b;
    --bs-gradient: none;
}

#descigfilter .btn svg{
    margin-top: -7px;
    margin-right: 10px;
}

#descwtdinsolo {
    text-align: left;
    width: 60%;
    position: absolute;
    left: 4%;
    top: 17%;
}

#descwtdinsolo p {
    font-family: 'Merriweather';
    font-size: 2.3vw;
    line-height: 2.8vw;
    color: #b5974b;;
}

#descwtdinsolo .btn {
    font-size: 24px;
    --bs-btn-color: #b5974b;
    --bs-btn-border-color: #b5974b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b5974b;
    --bs-btn-hover-border-color: #b5974b;
    --bs-btn-focus-shadow-rgb: 220,53,69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b5974b;
    --bs-btn-active-border-color: #b5974b;
    --bs-btn-active-shadow: inset 0 3px 5px white
    --bs-btn-disabled-color: #1e274b;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #b5974b;
    --bs-gradient: none;
}

#descwtdinsolo .btn svg{
    margin-top: -7px;
    margin-right: 10px;
}

#solotour {
    background-color: #213355;
}
.sec5kadop {
    font-size: 12px;
}

#section6 {
    padding-top: 3rem;
    padding-bottom: 18%;
    background-image: url("../assets/bgarab.png");
    background-size: cover;
    background-position: center;
}

#section6 .photos-grid-container {
    position: relative;
    z-index: 2;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    align-items: start;
  
}
@media (max-width: 580px) {
  grid-template-columns: 1fr;
}

#section6 .img-box {
  border: 1px solid #e3e2d0;
  position: relative;
}

#section6 .img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.6);
}

#section6 .img-box:hover .caption {
  transform: translateY(-5px);
}

#section6 img {
  max-width: 100%;
  display: block;
  height: auto;
}

#section6 .caption {
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
  font-size: 1.5rem;
}

#section6 .transparent-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section6 .main-photo {
  grid-row: 1;
  grid-column: 1;
}

#section6 .sub {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0em;

}
#section6 .sub &:nth-child(0) {
  grid-column: 1;
  grid-row: 1;
}

#section6 .sub &:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

#section6 .sub &:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

#section6 .sub &:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

#section6 .hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#imgfooter {
  position: absolute;
  width: 100vw;
  bottom: 0;
}
#madewith {
    position: relative;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: 'Merriweather';
}
#love {
    /* position: relative;
    left: -50%; */
}

#wheeler {
    position: absolute; 
    left: 50%;
    bottom: 85px;
}
.scroll {
	width: 40px;
	height: 40px;
	border: 2px solid #c7a362;
	border-radius: 50%;
	position: relative;
    left: -50%;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 9px;
		left: 12px;
		width: 12px;
		height: 12px;
		border-left: 2px solid #c7a362;
  	border-bottom: 2px solid #c7a362;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}
#on, #off {
    position: fixed;
    z-index: 5;
    width: 40px;
    height: 40px;
    border: 1px solid #e1b658;
    border-radius: 50%;
    padding: 5px;
    right: 10px;
    top: 10px;
    cursor: pointer;
    display: none;
}
#on path, #off path {
    fill: #e1b658!important;
    stroke: #e1b658!important;
}
#audio {
    display: none;
}

@media screen and (orientation:landscape) {
    #img1h {
        display: inline;
    }
    #img1v {
        display: none;
    }
    #tanggal {
        margin-top: 2rem;
        font-size: 4vw;
    }
    #countdown td {
        font-size: 1.5vw;
    }
    #wheeler {
        display: none;
    }

    #img2h {
        display: block;
    }
    #img2v {
        display: none;
    }

    #section3 {
        background-image: url("../assets/pattern3h.jpg");
        background-size: cover;
        background-position: center center;
    }
    #img3h {
        display: block;
    }
    #img3v {
        display: none;
    }
    #img3doah {
        display: block;
    }
    #img3doav {
        display: none;
    }

    #section4 {
        background-image: url("../assets/sec4bgh.jpg");
        background-size: cover;
        background-position: center center;
    }

    #sec5kado {
        display: none;
    }
}

@media screen and (orientation:portrait) {
    /* #section1 #background-video {
        height: 85vh;
    } */
    /* .sambutan {
        top: 20vh;
    } */
    #imgsambutan {
        height: auto;
        width: 95vw;
    }
    .btn-buka {
        /* font-size: 14px; */
        width: 40%;
        /* left: -20vw; */
        bottom: 12%;
        /* padding: 1.2%; */
    }
    .kepada {
        /* bottom: 28%; */
        bottom: 27.5%;
    }

    #img1v {
        display: inline;
    }
    #img1h {
        display: none;
    }
    #tanggal {
        font-family: 'Analogist';
        color: #c7a362;
        margin-top: 1.3rem;
        font-size: 2rem;
    }
    #countdown td {
        font-size: 0.9rem;
        padding: 0px 0.9rem;
    }

    #img2h {
        display: none;
    }
    #img2v {
        display: block;
    }
    #ig-des, #ig-al {
        display: none;
    }

    #section3 {
        background-image: url("../assets/pattern3v.jpg");
        background-size: cover;
    }
    #img3h {
        display: none;
    }
    #img3v {
        display: block;
    }    
    #img3doah {
        display: none;
    }
    #img3doav {
        display: block;
    }
    .btnmap {
        width: 39%;
        position: absolute;
        margin: 0 auto;
        bottom: 27%;
        left: 30.5%;
    }

    #section4 {
        background-image: url("../assets/sec4bgv.jpg");
        background-size: cover;
        background-position: center center;
    }
    .cardsc4 {
        padding: 3rem 0;
    }
    #sec4card {
        padding: 1rem 0.5rem!important;
    }
    #sec4kado {
        display: none;
    }
    .por-pl-0 {
        padding-left: 0;
    }

    .sec5part {
        min-height: 7.9rem;
    }
    #descigfilter p, #descwtdinsolo p {
        font-size: 4.6vw;
        line-height: 5.9vw;
        margin-bottom: 7px;
    }
    #descigfilter .btn, #descwtdinsolo .btn {
        font-size: 10px;
    }
    #descigfilter .btn svg , #descwtdinsolo .btn svg {
        width: 13px;
        margin-top: -3px;
        margin-right: 4px;
    }
    #descigfilter {
        text-align: center;
        right: 3%;
    }
    #descwtdinsolo {
        text-align: center;
        width: 46%;
        left: 3%;
    }

    #section6 {
        padding-top: 0.8rem;
        padding-bottom: 27%;
    }
    #madewith {
        margin-top: 0.8rem;
        font-size: 0.8rem;
    }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 51px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    margin: 8px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  