@font-face {
    font-family: handwriting;
    src: url(../assets/ChopinScript.ttf);
}
@font-face {
    font-family: sifonn;
    src: url(../assets/Sifonn.otf);
}
@font-face {
    font-family: amstelvar;
    src: url(../assets/Amstelvar.ttf);
}

.section {
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.abs-100 {
    position: absolute;
    min-width: 100%;
}

.z10{
    z-index: 10;
}
.z20{
    z-index: 20;
}
.z30{
    z-index: 30;
}
.z40{
    z-index: 40;
}


/* ------SECTION 1 : Start------ */
    #section1 {
        box-shadow: 0px -1px 20px 1px black;
        z-index: 30;
    }

    #sect1-1 {
        font-family: handwriting;
        color: wheat;
        font-size: 3rem;
        line-height: 4rem;
    }

    #sect1-ring {
        width: 4rem;
    }

    #sect1-divider1 {
        margin: auto;
        width: 10%;
        border-top: 2px solid wheat;
    }

    #sect1-2 {
        font-family: 'Noto Serif Toto', sans-serif;
        color: wheat;
        font-size: 5rem;
    }

    #sect1-3 {
        font-family: amstelvar;
        color: wheat;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }

    #sect1-4 {
        font-family: 'Noto Serif Toto', sans-serif;
        color: wheat;
        font-size: 2rem;
        letter-spacing: 0.7rem;
    }

    #ampers {
        font-family: handwriting;
        color: wheat;
        font-size: 4rem;
    }

    .dot {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        /* background-image:url('../assets/dot.png'); */
        background-color: black;
        background-size: cover;
        opacity: 0.5;
    }

    #headervid {
        display: block;
        position: relative;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
/* ------SECTION 1 : End------ */

/* ------SECTION 2 : Start------ */
    #sect2-img {
        min-width: 100%;
    }
/* ------SECTION 2 : End------ */

/* ------SECTION 3 : Start------ */
    #map {
        width: 100%;
        height: 500px;
        margin-top: -13rem;
    }
/* ------SECTION 3 : End------ */